/* Navbar logo styling */
.brand-logo {
    margin-left: 20px;
}

.nav-wrapper {
    background-color: #b71c1c;
}


.subHeader {
    font-family: 'Gothic A1', sans-serif;
    color: white;
}

body {
    font-family: 'Gothic A1', sans-serif;
    background-color: black;
    
}

#now-playing-ID {
    text-align: center;
}

#coming-soon-ID {
    text-align: center;
}

.card {
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    top: 0;

    /* Transition for a smooth hover effect */
    transition: top ease 0.5s;
    
}


.card:hover {

    /* Card will move 6 pixels towards the top, on hover */
    top: -6px;
}

.activator {
    width: 200px;
}

.select-current-movies-container {
    /* margin: 16px 0; */
    padding: 16px;
    /* border: 1px solid lightgrey; */
}

#select-current-movies-ID {
    margin-top: 8px;
}

.movie-and-theaters-container {
    margin: 16px 0;
    padding: 16px;
}

.theaters {
    border: 3px solid lightgrey;
    background-color: white;
    margin: 8px 0;
    padding: 8px;
    color: #b71c1c;
}

.theatre-showtimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 1px solid black; */
    margin: 8px 0;
    padding: 8px;
}

.showtime {
    display: flex;
    margin: 2px;
    padding: 4px;
    border: 1px solid black;
    background-color: lightgrey;
}

.card-content {
    padding: 20px 8px !important;
    overflow: hidden !important;
    text-align: center;
}

.card-title {
    font-size: 12px !important;
    width: 100%;
}

.movie-and-theaters-container {
    background-color: #eae7ed;
}

h2 {
    color: #b71c1c !important;
}

#now-playing-carousel-ID {
    background-color: black;
}

#movie-info-ID {
    color: white;
}

main {
    background-color: black;
}

#select-movies-form-ID {
    color: white;
}

#btn-movies-by-zip-ID {
    background-color: #b71c1c;
}



/* .theatre-showtimes {} */